<favicon>assets/favicon.png</favicon>
<title>测试镜像站点</title>
<sortable>true</sortable>
<project>
    <icon>assets/icon1.png</icon>
    <name>Shizuku</name>
    <repo>https://github.com/RikkaApps/Shizuku</repo>
</project>
<project>
    <icon>assets/icon2.webp</icon>
    <name>不存在的项目</name>
    <repo>https://github.com/user/project2</repo>
</project>
<project>
    <icon>assets/icon2.webp</icon>
    <name>WallCat</name>
    <repo>overwrite@1</repo>
</project>
<project>
    <icon>assets/icon2.webp</icon>
    <name>不存在的项目</name>
    <repo>overwrite@2</repo>
</project>
